.header{
    padding:  5px 0;
    display: flex;
    position: fixed;
    top: 0px;
    right:0px;
    left:0px;
    height: 80px;
    background-color:transparent;
    transition: background-color 0.3s; /* Hiệu ứng chuyển màu mượt mà */

}
h3{
    margin: 0px;
}

.svg_icon{
    width: 32px;
    height: 32px;
 

}

.svg_document{
    font-size: 22px;
    margin: 0;
    display: flex;
}
.left_nav{
    display: flex ;
    justify-content: center;
    align-items: center;
    padding-left: 36px;
    

}
.fa-solid.fa-caret-down{
    color: #fff;
}
.riot_game_icon{
    width: 100px;
    height: 28px;
}
.riot_game_icon_1{
    width: 35px;
    height: 32px;
}

.nav{
    /* font-size:14px; */
    padding-top: 14.8px ;
    padding-bottom: 14.8px ;
    padding-inline-start: 40px;
    margin-block-start:0;
    margin-block-end: 0;
    display: inline-block;
}

.nav >li{
    display: inline-block; 
}

.nav li{
  
  position: relative;

 
}
/* .right_nav li a,
.right_nav li , */
.nav li a{
    padding: 7.5px 16px;
    text-align: center;
    margin-right: 4px;
    line-height: 30px;
    display: inline-block;
    text-decoration:none;
    color: #fff;
}
.nav .subnav li:hover a,
.nav >li:hover >a {
   border-radius: 10px;
    background-color: rgba(214, 226, 228, 0.5);
}

.under_line{
    top: 0px;
    height: 4px;
    background-color: rgb(209, 54, 57);
    margin-top: 0px;
}

.nav .subnav {
    display: none;
    position: absolute;
    left: 0px;
    padding: 0px;
    width: 180px;
    background-color: #111;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}



.nav .subnav li{
    left: 0px;
    padding: 0px;
    width: 180px;
    background-color: #111;
    margin-top: 16px;
}

.nav li:hover .subnav{
    display: block;
}

.nav .subnav a{
    color: #fff;
    padding: 7.5px 16px;
    width: 100%;
    text-align: left;
}

.nav .subnav li {
    display:flex ;
    
}
 
.riot_btn{
    height: 46px;
    background-color: transparent;
     border:none;
     padding: 0 0 0 0;
}

.right_nav{
    display: inline-block;
    position: fixed;
    right: 0;
    height: 45px;
    padding: 4px 40px;
    margin: 0px;
    margin-top: 4px;

}

.right_nav_main{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration:none;
    color: #fff;
}
.right_nav_main li{
    /* line-height: 45px; */
    }
.right_nav a{
    padding: 12px 22px;
    background: #d1363a;
    border-radius: 1.6rem ;
    color: #000;
}

.search_btn{
    border: 1px solid white;
    width: 156px;
    height: 30px;
    border-radius: 1.6rem;
    padding: 0.8px 22px;
    margin-right: 6px;
}

.ti-search:before {
    margin-right: 3px;
    font-size: 22px;
    color: #fff;
}

.search_container{
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search{
    background-color: transparent;  /* không màu */
    border-top-style: hidden;   /*ẩn viền input */
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    outline: 0; /* ẩn viền ô chữ*/
    color: #fff;
    font-size: 18px;
    max-width: 120px;
    padding-left: 24px;
    margin-right: 14px;
}
input::placeholder { 
    color:#e7e6e3; 
 }

.right_nav li{
    display: inline-block;
}

.language{
    margin-right: 20px;
    color: #fff;
}





.slider{
    height: 650px;
    width: 100%;
    margin-top: 0px;
    background: linear-gradient(275deg, rgba(10, 10, 10, 0) 0, rgba(10, 10, 10, .8) 120%);
}
.img{
    height: 650px;
}

.content{
 background-color: #000;
 color: #fff;
}



.footer{
    height: 216px;
    padding: 0 20px 20px 20px;
}

.main_f{
    height: 73px;
    background-color: #b60df4;
    padding: 30px 0;
}

.credit{
    height: 20px;
    background-color: #0ee3e7;
    padding: 30px 0;

}


